*{
    color: #ccc;
    font-family: "Rajdhani",sans-serif;
}

p, h3,h2{
    margin: 0;
}

body{
    background-color: #000000;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.navbar{
    margin: 8px auto 0px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #000000;

}

.supernav{
    margin: 0 auto;
}
.logo{
    font-size: 40px;
    font-weight: bold;
    font-family: "sarpanch",sans-serif;

}
ul{
    display: flex;
}
li{
    display: inline-block;
    margin: 15px;
    
}
li:hover{
    font-size: 20px;
    color: red;
    transition: 0.5s;
    cursor: pointer;
}
.main{
    display: flex;
    height: 600px;
    width: 100%;
    margin: 0 10px;
    padding: 10px;
    border: 2px solid;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 90px;
    font-weight: 500;
    line-height: 100px;
    letter-spacing: -0.02em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding: 10px;
}

.content1{
    margin-top: 40px;
}
.img1{
    display: flex;
    justify-content: center;
    /* padding: 0px; */
    width: 100%;
    height: 700px;
    gap: 0px;
    opacity: 0px;

}
.content-image{
    margin: 0px;
    padding: 40px;
    width: 100%;
    border-radius: 50px ;
    margin-bottom: 30px;
}
.projects {
    padding: 20px;
    background-color: #000000;
}

.project-card:hover{
    box-shadow: 12px 12px 10px rgba(173, 216, 230, 0.188);
    cursor: pointer;
    transition: 0.5s;
}

.projects h2 {
    text-align: center;
    margin-bottom: 20px;
}

.project-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.project-card {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
    background-color: #000000;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(42, 11, 11, 0.1);
}

.project-card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.endsummary{
    font-size: 70px;
    padding: 100px;
    text-align: center;
}

.discover-section{
    padding: 48px;
}

.content-holder{
    text-align: center;
    margin: 48px 0;
}

.section-text-div{
    text-align: center;
}

.section-text{
    font-weight: 400;
    line-height: 68px;
    font-size: 60px;
    color: #e4dad7;
}

.services{
    display: flex;
    justify-content: space-between;
    padding: 4em;

}

.services-header{
    color: #e4dad7;
    font-weight: 700;
    font-size: 32px;
}

.services-actions{
    display: grid;
    grid-template-columns: repeat(2, 200px);
    gap: 5px;
}
    
.services-links{
    font-size: 18px;
    font-weight: 500;
    height: 12px;
    color: #e4dad7;
    padding: 12px;
    margin: 0;
}

.floating-text-div{
    display: flex;
    padding: 50px;
    gap: 50px;
}

.float-div, .empty{
    flex: 1;
}

.floating-text{
    text-align: left;
    padding-right: 20px;
    font-weight: 400;
}

.testimonials-holder{
    display: flex;
    overflow: scroll;
    gap: 30px;
}

.testimonials-holder::-webkit-scrollbar {
    display: none;
}

.testimonials-header-div{
    text-align: center;
    padding: 50px 0;
}

.testimonials-header{
    font-size: 48px;
    font-weight: 700;
}

.client-holder{
    width: 288px;
    min-width: 288px;
    height: 178px;
    background-color: rgba(224,191,184,0.12);
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 20px;
    border-radius: 10px;
    flex-wrap: wrap;
}

.client-detail-holder{
    display: flex;
    align-items: center;
    gap: 18px;
}

.client-logo{
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.client-detail{
    font-size: 15px;
}

.client-company{
    color: rgba(228, 218, 215, 0.62);
}

.client-comment{
    padding-bottom: 8px;
    font-size: 20px;
    font-weight: 500;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 40px 100px;
    background-color: black;
    margin-top: 50px;
    border-top: 1px solid rgba(255, 255, 255, 0.304);
}

.footer-left-text{
    font-family: "plus jakarta sans", sans-serif;
    color: rgba(255, 255, 255, 0.457);
    font-size: 28px;
    font-weight: 400;
}

.contact-btn{
    width: 150px;
    height: 48px;
    color: rgba(255, 255, 255, 0.612);
    border: 1px solid rgba(255, 255, 255, 0.378);
    background-color: black;
    font-family: "Plus jakarta sans", sans-serif;
    font-weight: 500;
    font-size: 17px;
    border-radius: 5px;
}